.main-heading {
  @include rem(font-size, 24px);
  font-weight: 300;
  margin: 43px 0 48px 0;
}

.feature-heading {
  @include rem(font-size, 14px);
  margin: 0 0 25px;
}
.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  border-radius: 50%;
  background: $color-mid;
  height: 162px;
  width: 162px;
  margin: 0 auto 30px;
  text-align: center;
  i {
    color: #fff;
    @include rem(font-size, 70px);
  }
}
.feature-description {
  @include rem(font-size, 14px);
  font-weight: 300;
  text-align: center;
  width: 170px;
  margin: auto;
}
